<h1>Search Results</h1>
<% if @exchanges.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">Exchange Name</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4"></td>
        </tr>
    </tfoot>
<% @exchanges.each do |exchange| %>
  <tr>
    <td><%= exchange.name %></td>
    <td><%= link_to 'View', exchange %></td>
    <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
    <td><%= link_to 'Delete', exchange, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to Exchanges', exchanges_path %>
