<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->

<h1>Exchange Details</h1>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
    <td>Name</td>
    <td>  <%= @exchange.name %></td>
  </div>
</tr>
<tr>
  <div>
    <td>Description</td>
    <td><%= @exchange.description %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Status</td>
      <td><%= @exchange.status %></td>
  </div>
</tr>
    </tbody>
</table>
<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
