<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->

<h1>State Details</h1>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
    <td>Country</td>
    <td><%= @subcategory.category.name %></td>
  </div>
</tr>
   	<tr>
  <div>
    <td>State</td>
    <td><%= @subcategory.name %></td>
  </div>
</tr>
<tr>
  <div>
    <td>Description</td>
    <td><%= @subcategory.description %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Status</td>
      <td><%= @subcategory.status %></td>
  </div>
</tr>
    </tbody>
</table>


<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
