<h1>Search Results</h1>
<% if @labregionals.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col" >Lab Id</th>
            <th scope="col" >View</th>
            <th scope="col" >Edit</th>
            <th scope="col" >Delete</th>
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4" ></td>
        </tr>
    </tfoot>
<% @labregionals.each do |labregional| %>
   <tr>
    <td><%= labregional.labid %></td>
    <td><%= link_to 'View', labregional %></td>
    <td><%= link_to 'Edit', edit_labregional_path(labregional) %></td>
    <td><%= link_to 'Delete', labregional, :confirm => 'Are you sure?',
       :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to Regional Labs', labregionals_path %>
