<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->

<h1>Locational Lab Details</h1>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
    <td>Lab Id</td>
    <td><%= @lablocational.labid %></td>
  </div>
</tr>
   	<tr>
  <div>
    <td>Lab Name</td>
    <td><%= @lablocational.labname %></td>
  </div>
</tr>
   	<tr>
  <div>
    <td>Central Lab</td>
    <td><%= @lablocational.labcentral.labid %></td>
  </div>
</tr>
   	<tr>
  <div>
    <td>Regional Lab</td>
    <td><%= @lablocational.labregional.labid %></td>
  </div>
</tr>
<tr>
  <div>
    <td>Door No</td>
    <td><%= @lablocational.housenumber %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Street</td>
      <td><%= @lablocational.street %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Land Mark</td>
      <td><%= @lablocational.landmark %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Street</td>
      <td><%= @lablocational.street %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>City</td>
      <td><%= @lablocational.city %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>State</td>
      <td><%= @lablocational.state %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Country</td>
      <td><%= @lablocational.country %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>PIN</td>
      <td><%= @lablocational.pincode %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Phone</td>
      <td><%= @lablocational.land %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Mobile</td>
      <td><%= @lablocational.mobile %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Email</td>
      <td><%= @lablocational.email %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Status</td>
      <td><%= @lablocational.status %></td>
  </div>
</tr>
    </tbody>
</table>
<%= link_to 'Edit', edit_lablocational_path(@lablocational) %> |
<%= link_to 'Back', lablocationals_path %>
