<h1>Search Results</h1>
<% if @users.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">Standard</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4"></td>
        </tr>
    </tfoot>
 <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'View', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user, :confirm => 'Are you sure?',
       :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<% end %>
<%= link_to 'Back to Users', users_path %>
