<h1>Search Results</h1>
<% if @states.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">State</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4"></td>
        </tr>
    </tfoot>
<% @states.each do |state| %>
  <tr>
    <td><%= state.name %></td>
    <td><%= link_to 'View', state %></td>
    <td><%= link_to 'Edit', edit_state_path(state) %></td>
    <td><%= link_to 'Delete', state, :confirm => 'Are you sure?',
       :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to States', states_path %>
