<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- START_HIGHLIGHT -->
<h1><%= t('.title_html') %></h1>
<!-- END_HIGHLIGHT -->

  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
<div class="home_form">
  <%= form_tag do %>
    <fieldset>
      <legend>Please Log In</legend>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
    <td><label for="name">Name</label></td>
    <td><%= text_field_tag :name, params[:name],:class => 'title'%></td>
  </div>
</tr>
<tr>
  <div>
    <td><label for="password">Password</label></td>
    <td><%= password_field_tag :password, params[:password],:class=>'title' %></td>
  </div>
</tr>
<tr>
  <div>
	<td></td>
    <td><%= submit_tag "Login" %></td>
  </div>
</tr>
    </tbody>
</table>
    </fieldset>
  <% end %>
</div>

