<h1>Search Sample Places</h1>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
	<tr>
		<td>Search: </td>
		<td><%= text_field_tag :query ,@query ||="Enter Sample Place Name",:class=>'title',
:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Sample Place Name'" %></td>
		<td><%= submit_tag "Search" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<h1>Listing Sample Places</h1>
<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->
<table id="rounded-corner">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company">Sample Place</th>
            <th scope="col" class="rounded-q1">View</th>
            <th scope="col" class="rounded-q2">Edit</th>
            <th scope="col" class="rounded-q3">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="3" class="rounded-foot-left"></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
<% @sampleplaces.each do |sampleplace| %>
  <tr>
    <td><%= sampleplace.name %></td>
    <td><%= link_to 'View', sampleplace %></td>
    <td><%= link_to 'Edit', edit_sampleplace_path(sampleplace) %></td>
    <td><%= link_to 'Delete', sampleplace, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Sample Place', new_sampleplace_path %>
