<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->

<h1>Sample Unit Details</h1>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
    <td>Code</td>
    <td>  <%= @sampleplace.code %></td>
  </div>
</tr>
   	<tr>
  <div>
    <td>Name</td>
    <td>  <%= @sampleplace.name %></td>
  </div>
</tr>
<tr>
  <div>
    <td>Description</td>
    <td><%= @sampleplace.description %></td>
  </div>
</tr>
<tr>
  <div>
	  <td>Status</td>
      <td><%= @sampleplace.status %></td>
  </div>
</tr>
    </tbody>
</table>
<%= link_to 'Edit', edit_sampleplace_path(@sampleplace) %> |
<%= link_to 'Back', sampleplaces_path %>
