<h1>Search Results</h1>
<% if @testrequires.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">Test</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4"></td>
        </tr>
    </tfoot>
<% @testrequires.each do |testrequire| %>
  <tr>
    <td><%= testrequire.name %></td>
    <td><%= link_to 'View', testrequire %></td>
    <td><%= link_to 'Edit', edit_testrequire_path(testrequire) %></td>
    <td><%= link_to 'Delete', testrequire, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to Required', testrequires_path %>
