<h1>Search Central Lab</h1>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
	<tr>
		<td>Search: </td>
		<td><%= text_field_tag :query ,@query ||="Enter Central Lab Name",:class=>'title',
:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Central Lab Name'" %></td>
		<td><%= submit_tag "Search" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<h1>Listing Central Labs</h1>
<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->
<table id="rounded-corner">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company">Lab Id</th>
            <th scope="col" class="rounded-q1">View</th>
            <th scope="col" class="rounded-q2">Edit</th>
            <th scope="col" class="rounded-q3">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="3" class="rounded-foot-left"></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
<% @labcentrals.each do |labcentral| %>
   <tr>
    <td><%= labcentral.labid %></td>
    <td><%= link_to 'View', labcentral %></td>
    <td><%= link_to 'Edit', edit_labcentral_path(labcentral) %></td>
    <td><%= link_to 'Delete', labcentral, :confirm => 'Are you sure?',
       :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Central Lab', new_labcentral_path %>
