<h1>Search Results</h1>
<% if @labcentrals.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">Lab Id</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4"></td>
         </tr>
    </tfoot>
<% @labcentrals.each do |labcentral| %>
   <tr>
    <td><%= labcentral.labid %></td>
    <td><%= link_to 'View', labcentral %></td>
    <td><%= link_to 'Edit', edit_labcentral_path(labcentral) %></td>
    <td><%= link_to 'Delete', labcentral, :confirm => 'Are you sure?',
       :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to Central Labs', labcentrals_path %>
