<div class="home_form">
<%= form_for(@teststandard) do |f| %>
  <% if @teststandard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teststandard.errors.count, "error") %> prohibited this teststandard from being saved:</h2>

      <ul>
      <% @teststandard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <fieldset>
  <legend>Enter Test Standard Details</legend>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name,:class=>'title'%></td>
  </div>
</tr>
<tr>
  <div>
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description,:class=>'title' %></td>
  </div>
</tr>
<tr>
  <div>
    <td><%= f.label :fileurl %></td>
    <td><%= f.text_field :fileurl,:class=>'title' %></td>
  </div>
</tr>
<tr>
  <div>
	  <td><%= f.label :status %></td>
      <td><%= f.radio_button :status, 'A', :checked => true %> Active
    <%= f.radio_button :status, 'I' %> Inactive </td>
  </div>
</tr>
<tr>
  <div>
	<td></td>
   <td><%= f.submit "Save"%></td>
  </div>
</tr>
    </tbody>
</table>
</fieldset>
<% end %>
</div>
