<div class="home_form">
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <fieldset>
  <legend>Enter Product Details</legend>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
   <td> <%= f.label :id , "Category"%></td>
    <td><%= collection_select(:product,:category_id,@category,:id,:name,:prompt=>"Select Category") %></td>
  </div>
</tr>
   	<tr>
  <div>
   <td> <%= f.label :id , "Subcategory"%></td>
    <td><%= collection_select(:product,:subcategory_id,@subcategory,:id,:name,:prompt=>"Select Subcategory") %></td>
  </div>
</tr>
   	<tr>
  <div>
   <td> <%= f.label :name %></td>
    <td><%= f.text_field :name,:class=>'title' %></td>
  </div>
</tr>
<tr> 
 <div>
   <td><%= f.label :description %></td>
   <td><%= f.text_field :description,:class=>'title' %></td>
  </div>
</tr>
<tr>
  <div>
   <td><%= f.label :status %></td>
   <td><%= f.radio_button :status, 'A', :checked => true %> Active
    <%= f.radio_button :status, 'I' %> Inactive</td>
  </div>
</tr>
<tr>
  <div>
	<td></td>
    <td><%= f.submit "Save"%>
  </div>
</tr>

    </tbody>
</table>
</fieldset>
<% end %>
</div>
