<div class="home_form">
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <fieldset>
  <legend>Enter Product Details</legend>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
   <td> <%= f.label :id , "Category"%></td>
    <td><%= f.collection_select :category_id, Category.find(:all), :id, :name ,{:prompt=>'Select Categoery'},{ :onchange=>"#{remote_function(:url=>{:action=>'load_subcategries'},:with =>"'id='+value")}" }%></td>
  </div>
</tr>
   	<tr>
  <div>
   <td> <%= f.label :id , "Subcategory"%></td>
    <td><%= f.collection_select :subcategory_id, {},:id, :name,{:prompt =>'Select Subcategory'} %></td>
  </div>
</tr>
   	<tr>
  <div>
   <td> <%= f.label :name %></td>
    <td><%= f.text_field :name,:class=>'title' %></td>
  </div>
</tr>
<tr> 
 <div>
   <td><%= f.label :description %></td>
   <td><%= f.text_field :description,:class=>'title' %></td>
  </div>
</tr>
<tr>
  <div>
   <td><%= f.label :status %></td>
   <td><%= f.radio_button :status, 'A', :checked => true %> Active
    <%= f.radio_button :status, 'I' %> Inactive</td>
  </div>
</tr>
<tr>
  <div>
	<td></td>
    <td><%= f.submit "Save"%>
  </div>
</tr>

    </tbody>
</table>
</fieldset>
<% end %>
</div>
