<h1>Search Products</h1>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
	<tr>
		<td>Search: </td>
		<td><%= text_field_tag :query ,@query ||="Enter Product/Category/Subcategory Name",:class=>'title',
:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Product/Category/Subcategory Name'" %></td>
		<td><%= submit_tag "Search" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<h1>Listing Products</h1>
<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">Product</th>
        	<th scope="col">Sub Category</th>
        	<th scope="col">Category</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="6"></td>
        </tr>
    </tfoot>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.subcategory.name %></td>
    <td><%= product.category.name %></td>
    <td><%= link_to 'View', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Product', new_product_path %>
