<h1>Search Results</h1>
<% if @products.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="rounded-corner">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company">Product</th>
            <th scope="col" class="rounded-q1">View</th>
            <th scope="col" class="rounded-q2">Edit</th>
            <th scope="col" class="rounded-q3">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="3" class="rounded-foot-left"></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= link_to 'View', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to Products', products_path %>
