<h1>Search Results</h1>
<% if @products.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">Product</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4"></td>
        </tr>
    </tfoot>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= link_to 'View', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to Products', products_path %>
