<div class="home_form">
<%= form_for(@warehouse) do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% @warehouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <legend>Enter Ware House Details</legend>
<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
    <tbody>
   	<tr>
  <div>
    <td><span class="req">*</span><%= f.label :whnumber, "Number" %></td>
    <td><%= f.text_field :whnumber,:class=>'title'%></td>
  </div>
</tr>
<tr>
  <div>
    <td><%= f.label :whnickname,"Nick Name" %></td>
    <td><%= f.text_field :whnickname,:class=>'title' %></td>
  </div>
</tr>
<tr>
  <div>
    <td><%= f.label :whaddress, "Address" %></td>
    <td><%= f.text_area :whnickname,:class=>'title' %></td>
  </div>
</tr>
<tr>
  <div>
	  <td><%= f.label :status %></td>
      <td><%= f.radio_button :status, 'Active', :checked => true %> Active
    <%= f.radio_button :status, 'Inactive' %> Inactive </td>
  </div>
</tr>
<tr>
  <div>
	<td></td>
   <td><%= f.submit "Save"%></td>
  </div>
</tr>
    </tbody>
</table>
</fieldset>
<% end %>
</div>
