<h1>Search Ware Houses</h1>
<!--Start of search text box -->
<%= form_tag :action => 'search' %>
	<table id="one-column-emphasis">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
	<tr>
		<td>Search</td>
		<td><%= text_field_tag :query ,@query ||="Enter Ware House  Name",:class=>'title',
:onfocus=>"javascript: this.value=''",:onblur=>"javascript: if(this.value=='') this.value='Enter Ware House Name'" %></td>
		<td><%= submit_tag "Search" %></td>
	</tr>
	</table>
<%= form_tag %>
<!--end of search text box -->
<h1>Listing Ware Houses</h1>
<!-- START_HIGHLIGHT -->
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->
<table id="newspaper-b">
    <thead>
    	<tr>
        	<th scope="col">Ware House</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="4"></td>
        </tr>
    </tfoot>
<% @warehouses.each do |warehouse| %>
  <tr>
    <td><%= warehouse.whnickname %></td>
    <td><%= link_to 'Show', warehouse %></td>
    <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
    <td><%= link_to 'Delete', warehouse, :confirm => 'Are you sure you want to delete this item?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Warehouse', new_warehouse_path, :class=>"more" %>
