<h1>Search Results</h1>
<% if @warehouses.blank? %>
 	<p>Oops!!! No Matches found.</p>
<% else %>
<table id="rounded-corner">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company">Warehouse Name</th>
            <th scope="col" class="rounded-q1">View</th>
            <th scope="col" class="rounded-q2">Edit</th>
            <th scope="col" class="rounded-q3">Delete</th>
 
        </tr>
    </thead>
         <tfoot>
    	<tr>
        	<td colspan="3" class="rounded-foot-left"></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
<% @warehouses.each do |warehouse| %>
  <tr>
    <td><%= warehouse.whnickname %></td>
    <td><%= link_to 'View', warehouse %></td>
    <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
    <td><%= link_to 'Delete', warehouse, :confirm => 'Are you sure?',
       :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= link_to 'Back to Ware Houses', warehouses_path %>
