<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Agri Procurement Quality Assurance Management System</title>
<!-- START:stylesheet -->
<%= stylesheet_link_tag "scaffold" %>
<%= stylesheet_link_tag "depot" %>
<%= stylesheet_link_tag "menu" %>
<!-- END:stylesheet -->
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "menu" %>
<%= javascript_include_tag "jquery" %>
<%= csrf_meta_tag %>
<style type="text/css">
	div#copyright { display: none; }
</style>

</head>
<body id="home">
<div id="banner">
<!-- START_HIGHLIGHT -->
<%= @page_title || t('.title') %>
<!-- END_HIGHLIGHT -->
</div>
<div id="columns">
<div id="side">
<div id="menu">
<ul class="menu">
<li><a href="/home"><span><%= t('.home') %></span></a></li>
<li><a href="/users"><span><%= t('.user') %></span></a></li>
<li><a href="/countries"><span><%= t('.country') %></span></a></li>
<li><a href="/states"><span><%= t('.state') %></span></a></li>
<li><a href="/cities"><span><%= t('.city') %></span></a></li>

<li><a href="#"class="parent"><span><%= t('.lab') %></span></a>
            <div>
			<ul>
               <li><a href="/labcentrals"><span><%= t('.labcentral') %></span></a></li>
<li><a href="/labregionals"><span><%= t('.labregional') %></span></a></li>
<li><a href="/lablocationals"><span><%= t('.lablocational') %></span></a></li>
            </ul>
			</div>
</li>
<li><a href="#"class="parent"><span><%= t('.test') %></span></a>
            <div>
			<ul>
<li><a href="/testmethods"><span><%= t('.testmethod') %></span></a></li>
<li><a href="/testparameters"><span><%= t('.testparameter') %></span></a></li>
<li><a href="/testrequires"><span><%= t('.testrequire') %></span></a></li>
<li><a href="/teststandards"><span><%= t('.teststandard') %></span></a></li>
            </ul>
			</div>
</li>
<li><a href="#"class="parent"><span><%= t('.commodity') %></span></a>
            <div>
			<ul>
<li><a href="/categories"><span><%= t('.category') %></span></a></li>
<li><a href="/subcategories"><span><%= t('.subcategory') %></span></a></li>
<li><a href="/products"><span><%= t('.product') %></span></a></li>
            </ul>
			</div>
</li>

<li><a href="#"class="parent"><span><%= t('.sample') %></span></a>
            <div>
			<ul>
<li><a href="/seals"><span><%= t('.seal') %></span></a></li>
<li><a href="/sampleplaces"><span><%= t('.sampleplace') %></span></a></li>
<li><a href="/sampleunits"><span><%= t('.sampleunit') %></span></a></li>
<li><a href="/sampleconditions"><span><%= t('.samplecondition') %></span></a></li>

<li><a href="/packings"><span><%= t('.packing') %></span></a></li>
            </ul>
			</div>
</li>


<li><a href="/warehouses"><span><%= t('.warehouse') %></span></a></li>
<li class="last"><a href="/exchanges"><span><%= t('.exchange') %></span></a></li>
</ul>
</div>
</div>
<div id="main">
<%= yield %>
</div>
<!--<div id="footer"> -->
<!-- START_HIGHLIGHT -->
<!--<%= @page_title || t('.footer') %> -->
<!-- END_HIGHLIGHT -->
<!--</div> -->
</div>
</body>
</html>
